.contact-us {
  padding-top: 350px;
  padding-bottom: 500px;
  position: relative;
  top: 110px;
  background: url('../img/bottom-bg.svg') no-repeat 40% 80%;

  @media screen and (max-width: 1500px){
    background: url('../img/bottom-bg.svg') no-repeat 50% bottom;
    background-size: cover;
  }
  background-size: cover;

  @media screen and (max-width: $max-sm){
    background: url('../img/bottom-bg-mob.svg') no-repeat;
    background-position-y: -37px;
    background-size: cover;
    top: 0;
    padding-top: 80px;
    padding-bottom: 620px;
  }

  .container {
    max-width: 1150px;
  }
}

.contact-us__img {
  position: absolute;
  top: 135px;
  right: 100px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

  &.is-visible {
    animation: transformOpacityButton 0.6s ease-out;
  }

  @media screen and (max-width: $max-md){
    max-width: 50%;
  }

  @media screen and (max-width: $max-xs){
    display: none;
  }
}
