.features {
  @media screen and (max-width: $max-sm) {
    position: relative;
    top: -130px;
  }
}

.feature {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;

    @media screen and (max-width: $max-sm) {
      position: relative;
      padding-top: 425px;
      margin-top: 50px;
    }
  }

  &:nth-child(1) {
    padding-top: 137px;

    @media screen and (min-width: 1800px) {
      .feature__img {
        left: 80px;
      }
    }

    @media screen and (max-width: $max-sm) {
      padding-top: 20px;

      .feature__img {
        left: -20px;
      }
    }

    .container {
      @media screen and (max-width: $max-sm) {
        padding-top: 275px !important;
      }
    }
  }


  &:nth-child(2) {
    padding: 420px 0 425px;
    position: relative;
    background: url('../img/features/feature-2-bg.svg') no-repeat left top;

    @media screen and (min-width: 1800px) {
      background: url('../img/features/feature-2-bg.svg') no-repeat left top;

      .feature__img {
        right: 80px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      right: -40px;
      top: -70px;
      background: url('../img/features/feature-2-right.svg') no-repeat right top;
      width: 900px;
      height: 1500px;

    }

    @media screen and (max-width: $max-sm) {
      padding: 0 0 50px;
      background: url('../img/features/feature-2-bg-mob.svg') no-repeat right -100px;

      &::before {
        display: none;
      }

      .feature__img {
        right: -18px;
        top: -10px;
        max-width: 440px;
      }
    }
  }

  &:nth-child(3) {
    padding-bottom: 440px;
    background: url('../img/features/feature-3-bg.svg') repeat-x center 70px;

    @media screen and (max-width: $max-sm) {
      padding-bottom: 0;
      background: url('../img/waves-mob.png') repeat-x center 42px;
    }

    @media screen and (min-width: 1800px) {
      .feature__img {
        left: 80px;
      }
    }

    .feature__img {
      @media screen and (max-width: $max-sm) {
        left: -30px;
      }
    }

    @media screen and (max-width: $max-md) {
      background-position-y: -20px;
      background-size: 603px 558px;
    }
  }

  &:nth-child(odd) {
    .container {
      flex-direction: row-reverse;

      @media screen and (max-width: $max-sm) {
        position: relative;
        padding-top: 240px;
      }
    }

    .feature__img {
      left: -50px;
      right: auto;
    }
  }

  .title {
    max-width: 450px;
    width: 100%;
    z-index: 1;
  }
}

.feature__img {
  position: absolute;
  right: -70px;

  &.is-visible {
    animation: transformOpacityButton 0.6s ease-out;
  }

  @media screen and (max-width: $max-sm) {
    width: 470px;
    top: -60px;
  }
}
