.navigation {
  display: flex;

  @media screen and (max-width: $max-xs){
    display: none;
  }
}

.navigation__item {
  font-size: 14px;
  font-weight: bold;
  margin-right: 50px;
  color: $navy;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: $navy;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    transition: width 0.3s;
  }

  &:hover {
    &::before {
      width: calc(100% + 4px);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
