<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SOPHY</title>
  //= includes/head.html
</head>
<body>
<header class="header">
  <div class="container">
    <a href="index.html" class="logo"></a>
  </div>
</header>
<main class="thanks">
  <div class="container">
    <img class="thanks__img" src="./img/is-valid.svg">
    <h1 class="title title--thanks">Thank you! <br>Your fragrance test will be shipped to you soon.</h1>
  </div>
</main>
//= includes/scripts.html
</body>
</html>
