.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 28px;
  width: 100%;
  z-index: 2;

  &.is-visible {
    animation: transformOpacityHeader 0.5s ease-out;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
