<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SOPHY</title>
  //= includes/head.html
</head>
<body>
//= includes/header.html
<main>
  <div class="hero" id="about">
    <div class="container">
      <h1 class="title title--hero">Personalized dynamic
        <br>home fragrance
      </h1>
      <p class="hero__text">Artificial Intelligence adapts scent to you,
        <br>so you don’t have to adapt to it</p>
      <a href="checkout.html" class="button button--orange button--margin-top">Get Fragrance Test Now</a>
      <img src="./img/hero-img.png" alt="sophy" class="hero__img"/>
    </div>
  </div>
  <div class="about" id="how-it-works">
    <div class="slider-count slider-count--hide">
        <div class="container">
      <span class="slider-count__num js-current-slide"></span>
      <span class="slider-count__num">/</span>
      <span class="slider-count__num js-slides-count"></span>
    </div>
    </div>
    <div class="slider js-about-slider">
      <div class="slide">
        <div class="container">
          <div class="slider-count">
            <span class="slider-count__num js-current-slide"></span>
            <span class="slider-count__num">/</span>
            <span class="slider-count__num js-slides-count"></span>
          </div>
          <div class="slide__info">
            <h4 class="title">Take the fragrance test</h4>
            <p class="slide__text">Smell through 24 olfactory families and leave your opinion about each one. Our AI
              system will personalize and craft a unique scent profile for you.</p>
          </div>
          <img src="./img/slider/slider-1.png" class="slide__img" alt="">
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <div class="slider-count">
            <span class="slider-count__num js-current-slide"></span>
            <span class="slider-count__num">/</span>
            <span class="slider-count__num js-slides-count"></span>
          </div>
          <div class="slide__info">
            <h4 class="title">Place Sophy & enjoy</h4>
            <p class="slide__text">Sophy has a unique airflow that delivers scent all over your home and creates a
              relaxing atmospehere</p>
          </div>
          <img src="./img/slider/slider-2.png" class="slide__img" alt="">
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <div class="slider-count">
            <span class="slider-count__num js-current-slide"></span>
            <span class="slider-count__num">/</span>
            <span class="slider-count__num js-slides-count"></span>
          </div>
          <div class="slide__info">
            <h4 class="title">Contol with Sophy App</h4>
            <p class="slide__text">Use revolutionary olfactory UI to control your scent, its intensity, & Sophy’s light.
              Try creating your own scents in seconds with a smart AI-powered assistant</p>
          </div>
          <img src="./img/slider/slider-3.png" class="slide__img slide__img--long" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="features" id="features">
    <div class="feature">
      <div class="container">
        <img src="./img/features/feature-1.png" alt="" class="feature__img">
        <h3 class="title">Sophy AI dynamically changes the smell according to your mood</h3>
      </div>
    </div>
    <div class="feature">
      <div class="container">
        <img src="./img/features/feature-2.png" alt="" class="feature__img">
        <h3 class="title">Get personalized fragrance from over 10,000 combinations in a minutes by using smart AI
          assistant</h3>
      </div>
    </div>
    <div class="feature">
      <div class="container">
        <img src="./img/features/feature-3.png" alt="" class="feature__img">
        <h3 class="title">Quiet as a breeze, Sophy evenly distributes the fragrance in your room</h3>
      </div>
    </div>
  </div>
  <div class="safety" id="why-sophy">
    <div class="container">
      <h2 class="title title--section title--centered">Sophy is safe and friendly</h2>
      <div class="safety-items">
        <figure class="safety__item">
          <img src="./img/safety/safety-1.svg" alt="" class="safety__img">
          <p class="safety__title">Pet-friendly</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-2.svg" alt="" class="safety__img">
          <p class="safety__title">Safe to inhale</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-3.svg" alt="" class="safety__img">
          <p class="safety__title">Convenient and friendly</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-4.svg" alt="" class="safety__img">
          <p class="safety__title">Premium design</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-5.svg" alt="" class="safety__img">
          <p class="safety__title">Spill & Residue-free</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-6.svg" alt="" class="safety__img">
          <p class="safety__title">No fire hazards</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-7.svg" alt="" class="safety__img">
          <p class="safety__title">Completely quiet</p>
        </figure>
        <figure class="safety__item">
          <img src="./img/safety/safety-8.svg" alt="" class="safety__img">
          <p class="safety__title">Worry-free usage</p>
        </figure>
      </div>
    </div>
  </div>
  <div class="contact-us" id="contact-us">
    <div class="container">
      <h1 class="title title--contact">Make your home <br>unique with Sophy</h1>
      <a href="checkout.html" class="button button--orange button--margin-top">Get Fragrance Test Now</a>
      <img src="./img/contact-img.png" alt="sophy" class="contact-us__img"/>
    </div>
  </div>
</main>
//= includes/footer.html
//= includes/scripts.html
</body>
</html>
